apiVersion: v1
kind: Secret
metadata:
  labels:
    app: keycloak
    service: postgresql
  name: "{{ keycloak_database_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRES_DB: "{{ KEYCLOAK_VAULT.POSTGRES_DB | b64encode }}"
  POSTGRES_USER: "{{ KEYCLOAK_VAULT.POSTGRES_USER | b64encode }}"
  POSTGRES_PASSWORD: "{{ KEYCLOAK_VAULT.POSTGRES_PASSWORD | b64encode }}"
