apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jupyter-pvc-home
  namespace: "{{ project_name }}"
  labels:
    app: jupyter
    service: app
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ jupyter_home_volume_size }}
