apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: keycloak
    service: app
  namespace: "{{ namespace_name }}"
  name: pod-reader
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list"]
