apiVersion: v1
kind: Secret
metadata:
  labels:
    app: keycloak
    service: app
    version: "{{ keycloak_image_tag }}"
  name: "{{ keycloak_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
# Create a secret entry per vault variable
{% for k, v in KEYCLOAK_VAULT.items() %}
  {{ k }}: {{ v | b64encode }}
{% endfor %}
