apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: jupyter
    service: app
    version: "{{ jupyter_image_tag }}"
  name: jupyter
  namespace: "{{ namespace_name }}"
spec:
  replicas: {{ jupyter_app_replicas }}
  selector:
    matchLabels:
      app: jupyter
      service: app
      deployment: jupyter
  template:
    metadata:
      labels:
        app: jupyter
        service: app
        version: "{{ jupyter_image_tag }}"
        deployment: jupyter
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: deployment
                      operator: In
                      values:
                        - "jupyter"
                topologyKey: kubernetes.io/hostname
{% set image_pull_secret_name = jupyter_image_pull_secret_name | default(default_image_pull_secret_name) %}
{% if image_pull_secret_name | length %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - name: jupyter
          image: "{{ jupyter_image_name }}:{{ jupyter_image_tag }}"
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: "{{ jupyter_secret_name }}"
          env:
            - name: JUPYTER_ENABLE_LAB
              value: "{{ jupyter_app_enable_lab }}"
          volumeMounts:
            # The running user (jovyan) home directory is used to store
            # analysis data, notebooks, etc. It should be persistent.
            - name: jupyter-v-home
              mountPath: /home/jovyan
      volumes:
        - name: jupyter-v-home
          persistentVolumeClaim:
            claimName: jupyter-pvc-home
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
