apiVersion: v1
kind: Route
metadata:
  namespace: "{{ project_name }}"
  name: jupyter
  labels:
    app: jupyter
    service: app
    version: "{{ jupyter_image_tag }}"
  annotations:
    haproxy.router.openshift.io/disable_cookies: "true"
    haproxy.router.openshift.io/balance: "roundrobin"
{% if jupyter_app_ip_whitelist | length %}
    haproxy.router.openshift.io/ip_whitelist: "{{ jupyter_app_ip_whitelist | join(' ') }}"
{% endif %}
spec:
  host: "{{ jupyter_host }}"
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  port:
    targetPort: "{{ jupyter_app_port }}-tcp"
  to:
    kind: Service
    name: jupyter
