apiVersion: v1
kind: Secret
metadata:
  labels:
    app: jupyter
    service: app
    version: "{{ jupyter_image_tag }}"
  name: "{{ jupyter_secret_name }}"
  namespace: "{{ project_name }}"
data:
# Create a secret entry per vault variable as most variables are backend
# credentials that will be used as environment variables to login to various
# services in notebooks.
{% for k, v in JUPYTER_VAULT.items() %}
  {{ k }}: {{ v | b64encode }}
{% endfor %}
