apiVersion: v1
kind: Secret
metadata:
  labels:
    app: grafana
    service: postgresql
  name: "{{ grafana_database_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRES_DB: "{{ GRAFANA_VAULT.DB_NAME | b64encode }}"
  POSTGRES_USER: "{{ GRAFANA_VAULT.DB_USER | b64encode }}"
  POSTGRES_PASSWORD: "{{ GRAFANA_VAULT.DB_PASSWORD | b64encode }}"
