apiVersion: v1
kind: Secret
metadata:
  labels:
    app: grafana
    service: app
    version: "{{ grafana_image_tag }}"
  name: "{{ grafana_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
# Create a secret entry per vault variable
{% for k, v in GRAFANA_VAULT.items() %}
  {{ k }}: {{ v | b64encode }}
{% endfor %}
