# Every variable defined in this vault will be stored in the
# "jupyter_secret_name" secret.  This secret variables are injected as
# environment variables in the jupyter dc.
#
# It is safe to store various credentials for backends login in this vault,
# e.g.:
#
# ELASTICSEARCH_USER: "john"
# ELASTICSEARCH_PASSWORD: "fake"
